.heading {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
}

.inputData {
  align-items: center;
}

.buttonClass {
  text-align: center;
  border-radius: 0px;
  height: 15px;
}

.listing {
  border: 1px solid black;
  height: 40px;
}
